<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet_juan</servlet-name>
    <servlet-class>juan_servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet_juan</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ClassServlet_juan</servlet-name>
    <servlet-class>juan_servlet.ClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassServlet_juan</servlet-name>
    <url-pattern>/ClassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RecordsServlet_juan</servlet-name>
    <servlet-class>juan_servlet.RecordsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecordsServlet_juan</servlet-name>
    <url-pattern>/RecordsServlet</url-pattern>
  </servlet-mapping>
 
  
  <servlet>
    <servlet-name>PerfectInformation</servlet-name>
    <servlet-class>servlet.PerfectInformation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PerfectInformation</servlet-name>
    <url-pattern>/PerfectInformation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>servlet.SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  
 
  <servlet>
  <servlet-name>ProjectServlet</servlet-name> 
  <servlet-class>servlet.ProjectServlet</servlet-class> 
  </servlet>
  <servlet-mapping>
  <servlet-name>ProjectServlet</servlet-name> 
  <url-pattern>/ProjectServlet</url-pattern> 
  </servlet-mapping>
  <servlet>
  <servlet-name>SaishiServlet</servlet-name> 
  <servlet-class>servlet.SaishiServlet</servlet-class> 
  </servlet>
  <servlet-mapping>
  <servlet-name>SaishiServlet</servlet-name> 
  <url-pattern>/SaishiServlet</url-pattern> 
  </servlet-mapping>
  <servlet>
  <servlet-name>SaichengServlet</servlet-name> 
  <servlet-class>servlet.SaichengServlet</servlet-class> 
  </servlet>
  <servlet-mapping>
  <servlet-name>SaichengServlet</servlet-name> 
  <url-pattern>/SaichengServlet</url-pattern> 
  </servlet-mapping>
  <servlet>
  <servlet-name>ChakansaichengServlet</servlet-name> 
  <servlet-class>servlet.ChakansaichengServlet</servlet-class> 
  </servlet>
  <servlet-mapping>
  <servlet-name>ChakansaichengServlet</servlet-name> 
  <url-pattern>/ChakansaichengServlet</url-pattern> 
  </servlet-mapping>
  <servlet>
  <servlet-name>ChakansaishiServlet</servlet-name> 
  <servlet-class>servlet.ChakansaishiServlet</servlet-class> 
  </servlet>
  <servlet-mapping>
  <servlet-name>ChakansaishiServlet</servlet-name> 
  <url-pattern>/ChakansaishiServlet</url-pattern> 
  </servlet-mapping>
  
</web-app>
